trigger:
- main

pool:
  vmImage: 'ubuntu-latest'

stages:
- stage: Deploy
  displayName: Deploy to VPS
  jobs:
  - job: DeployJob
    steps:

    - task: SSH@0
      inputs:
        sshEndpoint: 'praxis-vps-ssh'
        runOptions: 'commands'
        commands: |
          cd /home/praxis/praxis_crm
          git pull origin main
          source venv/bin/activate
          pip install -r requirements.txt
          python manage.py migrate --noinput
          python manage.py collectstatic --noinput
          sudo systemctl restart praxis
        readyTimeout: '20000'
